@import "../../styles/_variables";

.ProductsYoursPage {
    .navbar-secondary {
        margin-bottom: $gap; //calc(#{$gap} / 2);
    }
    .LaunchStream {
        .ProductMedia {
            margin-bottom: 25px;

            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }
}
