@import "../../styles/_variables";

.quickview {
    z-index: 1000 !important;
}

.quickview-overlay {
    @extend %transition-bg;
    background: $c-bg-overlay;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.quickview-body {
    background: var(--c-bg);
    padding: 10px;
    overflow-y: auto;
}

.quickview-footer {
    justify-content: center;
}

.Notification {
    @extend %corners;
    //background: var(--c-lightest);
    display: flex;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;

    &.read {
        opacity: 0.5;
    }

    > div {
        margin-right: 1rem;

        img {
            width: 32px;
            height: 32px;
            max-width: none;
        }
    }

    .Entry {
        padding: 1rem 0;
    }

    .note {
        @extend %note;
        margin: 0.8rem 0 0.2rem;
    }
}

.notifications-header {
    background: var(--c-lightest);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: $navbar-height;
    border-bottom: 1px solid var(--c-border);

    h1 {
        @extend %uppercase;
        color: var(--c-title);
        margin: 0;
        font-size: 1rem;
        line-height: 1;
    }

    .delete {
        @extend %round;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: var(--c-border);
        border: 0;
        cursor: pointer;
        display: inline-block;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 0;
        height: 20px;
        max-height: 20px;
        max-width: 20px;
        min-height: 20px;
        min-width: 20px;
        outline: none;
        position: relative;
        vertical-align: top;
        width: 20px;

        &::before {
            height: 2px;
            width: 50%;
        }

        &::after {
            height: 50%;
            width: 2px;
        }

        &::after,
        &::before {
            content: "";
            background: var(--c-lightest);
            display: block;
            left: 50%;
            position: absolute;
            top: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            -webkit-transform-origin: center center;
            transform-origin: center center;
        }
    }
}

.tag {
    @extend %rounded;
    display: inline-flex;
}

@media only screen and (max-width: 768px) {
    .notifications-quickview {
        width: 100vw;
    }
}

.NotificationsLink {
    @keyframes bellshake {
        0% {
            transform: rotate(0);
        }
        15% {
            transform: rotate(5deg);
        }
        30% {
            transform: rotate(-5deg);
        }
        45% {
            transform: rotate(4deg);
        }
        60% {
            transform: rotate(-4deg);
        }
        75% {
            transform: rotate(2deg);
        }
        85% {
            transform: rotate(-2deg);
        }
        92% {
            transform: rotate(1deg);
        }
        100% {
            transform: rotate(0);
        }
    }

    &.unread svg {
        animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        backface-visibility: hidden;
        transform-origin: top right;
    }
    .count {
        position: absolute;
        right: -50%;
        //top: 1%;
        top: 25%;
        font-size: 14px;
        padding: 0.3em;
        border-radius: 999px;
        line-height: 0.75em;
        color: var(--c-text);
        background: $c-secondary;
        text-align: center;
        min-width: 1.2em;
        font-weight: bold;
    }
}

.Notification-new {
    padding: 1rem;
    border-bottom: 1px solid var(--c-border);

    &.new {
        background: $c-secondary;
    }

    &:last-of-type {
        border-bottom: none;
    }

    figure {
        margin-right: 20px;
    }

    .has-text-grey > a {
        color: $c-link;
        font-weight: bold;
    }

    .verb a {
        font-weight: bold;
    }

    &.read {
        opacity: 0.5;
    }

    .content-case {
        padding-top: 1rem;
    }

    .actions {
        padding-top: 1rem;
    }

    .InlineCollapse {
        margin-top: 10px;
    }
}
