@import "../../../../../../styles/_variables";

.StreamSection {
    padding-bottom: $gap;
    margin-bottom: $gap;
    border-bottom: 1px solid var(--c-border);

    > h4 {
        font-size: 1.4rem;
        font-weight: normal;
        margin: 0 0 $gap;
    }
}
