@import "../../../../styles/_variables";

.ProductCreateWizard {
}

.CreateProductForm {
    width: 100%;
    padding: 2rem;

    .dropzone {
        height: 150px;
        background-color: whitesmoke;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .column.is-2 {
        padding: 30px;
    }

    h3 {
        @extend %bold;
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    input,
    textarea {
        @extend %corners;
        width: 100%;
        background: var(--c-bg-input);
        border: 0;
        outline: none;
        font-size: 1.5em;
        box-shadow: none;
    }

    .launchToggle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 0.938rem;
        padding-right: 2px;
    }
}

.Modal-Content.Modal-VerticallyCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}
