@import "../../styles/_variables";

.comments-box {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    //margin-left: 1.2rem;
    background-color: var(--c-bg);
    border: 1px solid var(--c-border);

    .img-avatar {
        margin-right: 10px;
    }

    div.comment {
        font-size: calc(#{$font-size} - 2px);
        margin-bottom: 0.5rem;

        &:last-of-type {
            margin-bottom: 0px;
        }

        .comment-body {
            @extend %corners;
            background-color: var(--c-lightest);
            padding: 0.5rem;

            a:first-of-type {
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }

    & > div:first-of-type {
        padding: 0.5rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        min-height: 4rem;
        max-height: 35vh;
        overflow-y: auto;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--c-lightest);
        padding: 0.5rem;
        border-top: 1px solid var(--c-border);

        .spinner-container {
            margin-left: 10px;
        }

        &:only-child {
            border-top: none;
        }

        .flex-grow {
            justify-content: center;
            align-items: center;
            display: flex;
        }

        textarea {
            height: 100%;
            width: 100%;
            border-bottom: none;
            margin-bottom: 0px;
        }
    }
}
