@import "../../../../styles/_variables";

.TodayViewPage {
    margin-top: 0;
    position: relative;
    overflow: hidden;

    small,
    h1 {
        color: var(--c-lightest);
    }

    .toggleModes {
        color: $c-gray;
        text-decoration: none;
        border: 0;
        font-size: 0.813rem;
        background: var(--c-bg-darkest);
        margin-right: 2px;
    }

    &::before {
        display: block;
        position: absolute;
        content: "";
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .column {
        padding-top: 30px;
        margin: 0 auto;
        max-width: 620px;
        z-index: 100;
        position: relative;

        > div {
            width: 100%;
        }
    }

    .Entry {
        cursor: pointer;
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .message-container {
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .message-container > .subtitle {
        margin-bottom: 0;
    }

    .message-container > div {
        margin-top: 15px;
    }
}
