@import "../../../../styles/_variables";

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 0;
    }
}

.AuthModal {
    @extend %long-shadow;

    @extend %corners;
    position: relative;

    min-height: 50vh;
    display: grid;
    grid-auto-columns: 1.2fr 2fr;
    background: white;

    .AuthModal-LoadingState {
        @extend %corners;
        @extend %brand-animated-bg;

        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        //background: $c-secondary;
    }

    h1 {
        //color: white;
        @extend %brand-underline;
        margin-bottom: 10px;
    }
}

.AuthModal.login,
.AuthModal.begin,
.AuthModal.splash {
    > div:first-of-type {
        grid-column: 1 !important;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items: center;
    }

    > div:last-of-type {
        grid-column: 2 !important;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .quote-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: right;

            h1,
            .heading {
                color: white;
            }

            div {
                display: grid;
                grid-template-columns: 2fr 1fr 1fr;
            }
        }

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        background-repeat: repeat;
        background-position: 0 0;
        background-size: auto 100%;
        /*adjust s value for speed*/
        animation: animatedBackground 500s linear infinite;
        background: linear-gradient(
                63deg,
                rgba(17, 180, 107, 0.9) 0%,
                rgba(17, 180, 107, 0.9) 100%
            ),
            url("/img/hero.jpg");
    }
}

.AuthModal.splash {
    > div:first-of-type {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items: center;
    }

    .or {
        color: gray;
        text-align: center;
        padding: 10px;
    }
}

.AuthModal.begin {
    > div:last-of-type {
        justify-content: center;
        align-items: center;
    }
}
