@import "./images";

// ---- Theme-dependent variables
// Colors -- texts
$c-title: #292929;
$c-text: #565656;
$c-lightest: #fff;

// Colors -- backgrounds
$c-bg: #f6f6f6;
$c-bg-dark: #263238;
$c-bg-darkest: #1b2327;
$c-bg-light: #f5f5f5;
$c-secondary-navbar: #f4f4f4;

// Forms
$c-border: #dbdbdb;
$c-border-light: #b5b5b5;
$c-border-lightest: #ececec;
$c-bg-input: #eff1f5;
// ---- end theme-dependent variables

// Typography
$font: "Inter", -apple-system, system-ui, sans-serif;
$font-title: "Inter", -apple-system, system-ui, sans-serif;
$font-size: 16px;
//$title-margin:

// Colors -- texts
$c-gray: #808080;

// Colors -- accent colors
$c-brand: #47e0a0;
$c-main: #00a676;
$c-secondary: #a2e1cb;
$c-link: #0b6e4f;

// Colors -- backgrounds
$c-bg-overlay: hsla(0, 0%, 0%, 0.65);
$c-in-progress: #f39c12;
$c-done: #00ad71;
$c-card-header: hsla(0, 0%, 0%, 0.06);

// Colors -- gradients
$gradient-green: linear-gradient(63deg, #66b26e, #11978c);
$gradient-underline: repeating-linear-gradient(
    to top,
    hsla(155, 71%, 58%, 0) 0,
    hsla(155, 71%, 58%, 0) 2px,
    hsla(155, 71%, 58%, 1) 3px,
    hsla(155, 71%, 58%, 1) 4px,
    hsla(155, 71%, 58%, 0) 4px,
    hsla(155, 71%, 58%, 0) 100%
);
$gradient-card: linear-gradient(to right, #4ca2cd, #67b26f);
$gradient-card-yellow: linear-gradient(to left, #f37335, #fdc830);
$gradient-brand: linear-gradient(to left, #38ef7d, #11998e);

// Forms
$c-border: #dbdbdb; //hsl(0, 0%, 86%)
$c-border-light: #b5b5b5; //hsl(0, 0%, 71%)
$c-border-lightest: #dbdbdb; //hsl(0, 0%, 71%)
$input-drop-shadow: 0 0 0 0.125em hsla(154, 37%, 51%, 0.25);
$c-bg-input: #eff1f5; //hsl(228, 22%, 95%)
$c-danger: #ff3860;
$c-ok: #1abc68; //hsl(149, 76%, 42%)
$c-info: #209cee; //hsl(204, 86%, 53%)

// Badges
$c-gold: #e6c300;
$c-gtd: #666;
$c-donor: #363636;
$c-staff: #363636;
$c-awesome: #2f99da;
$c-year: #2f99da;
$c-hundred: #ed766e;
$c-fifty: #00b77a;

// Gap & Card content padding
$gap: 2rem;
$gap-card: 1.5rem;

// Other
$rounded-corner: 5px;

// RWD Breakpoints
$breakpoint-wide: 1600px;
$breakpoint-desktop: 1201px;
$breakpoint-tablet: 1200px;
$breakpoint-mobile: 960px;

// Other
$navbar-height: 68px;

// Extensions
%bold {
    font-weight: 700;
}

%transition {
    // `all` causes performance issues and artifacts -> but there was already another transition for background only (see below)
    transition: background-color 0.3s ease-in-out;
}

%transition-bg {
    transition: background-color 0.1s ease-in-out;
}

%corners {
    border-radius: 5px;
}

%rounded {
    border-radius: 30px;
}

%round {
    border-radius: 50%;
}

%shadow {
    box-shadow: 0 2px 3px hsla(0, 0%, 4%, 0.1), 0 0 0 1px hsla(0, 0%, 4%, 0.1);
    position: relative;
}

%shadow-inset {
    box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, 0.1);
}

%people-bg {
    background: linear-gradient(
            63deg,
            rgba(17, 180, 107, 0.9) 0%,
            rgba(17, 180, 107, 0.9) 100%
        ),
        $i-people;
}

%hero-gradient {
    background: linear-gradient(90deg, #00ad71 0%, rgba(56, 187, 132, 0.9) 90%),
        $i-people;
}

%uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;

    svg {
        margin-right: 0.5em;
    }
}

%title {
    font-weight: 700;
    color: var(--c-title);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%title-margin {
    margin-bottom: 1rem;
}

%note {
    font-size: 0.875rem;
    color: hsl(0, 0%, 48%);
}

%long-shadow {
    box-shadow: 0 16px 40px -25px rgba(0, 0, 0, 0.75) !important;
}

%brand-underline {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-decoration-skip: objects;
    -webkit-text-decoration-color: #3fdb96;
    text-decoration-color: #3fdb96;
}

%brand-animated-bg {
    @keyframes BrandGradientAnim {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    background: linear-gradient(271deg, #00ad71, #41c38c, #17aa77, #62c8a5);
    background-size: 800% 800%;

    animation: BrandGradientAnim 17s ease infinite;
}
