@import "../../styles/_variables";

.InProgressCard {
    @extend %transition-bg;
    color: var(--c-lightest);
    background: $c-in-progress;

    * {
        color: var(--c-lightest);
    }

    &.empty {
        background: $c-main;
    }

    .Entry {
        background: transparent;
        cursor: pointer;

        svg {
            color: var(--c-lightest);
            height: 1.4rem;
        }

        .task-content {
            font-size: 1.4rem;
        }
    }
}

.color-circle {
    @extend %round;
    background: var(--c-lightest);
    border: 4px solid red;
    height: 15px;
    width: 15px;
}
